/* Style for 1. Box Model */
p {
  /* box-sizing: border-box; */
  width: 100px;
  height: 50px;
  /* width: min-content; */
  /* width: max-content; */
  /* width: -moz-fit-content;
  width: fit-content; */
  /* height: 50px; */
  padding: 20px;
  border: 1px solid;
  /* overflow: auto; */
}
